<div class="container-fluid">
  <div class="sidebar-container">
    <div class="logo-container">
      <img src="assets/logo.png" height="50"/>
    </div>
    <ul>
      <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
      <li><a routerLink="/home"><i class="fa fa-check-circle-o"></i> My Tasks</a></li>
      <li><a routerLink="/home"><i class="fa fa-bell-o"></i> Inbox</a></li>
      <li class="no-link"><a >Reporting</a></li>
      <li><a routerLink="/home"><i class="fa fa-bar-chart"></i> Portfolios</a></li>
      <li><a routerLink="/home"><i class="fa fa-life-bouy"></i> Goals</a></li>
    </ul>
    <div class="slide-footer">

    </div>
  </div>
  <div class="right-container">
  <div class="header">

    <div class="header-title-container">
      <div class="title">
        <h1 ><i class="fa fa-list-ul"></i> {{pageTitle}}</h1>
      </div>
    </div>
    <div class="header-user-container">
      <label> <i class="fa fa-question-circle-o"></i> </label>
      <label><i class="fa fa-user-circle"></i> </label>
    </div>
  </div>
  <div class="content">

    <div class="right-container">
<router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer"></div>
</div>

