<app-filtercontainer (onFilterChange)="applyFilterData($event)"></app-filtercontainer>
<div *ngIf="loading" class="mt-5">
  <mat-spinner style="margin: auto"></mat-spinner>
</div>
<div class="row" *ngIf="loading==false">
  <div class="col-md-6 row" >
    <div class="col-md-4" *ngFor="let card of cardList">
      <app-cardcontainer [title]="card.title"
                         [totalValue]="card.totalValue" [categoryValue]="card.categoryValue"
                         [compareValue]="card.compareValue"></app-cardcontainer>

    </div>
  </div>
  <div class="col-md-6 row" >
    <div class="col-md-12" >
    <app-cardcontainercustomer [title]="'Customer & Bill'"
                       [totalPax]="totalPax" [billCount]="billCount"
                       [customers]="customers"></app-cardcontainercustomer>
    </div>
  </div>

</div>
<div class="row" *ngIf="loading==false">
  <div class="col-md-12">
    <app-chart chart_label="Total Dine in Sale" [chartData]="chartData" style="height: 100%"></app-chart>
  </div>
</div>
