.stat-container {
  box-shadow: 0px 0px 4px 1px #ccc;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 15px 0;
  .stat-title {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;
  }
  .stat-filter {
    color: #0089ff;
    font-size: 12px;
    font-weight: 500;
  }
  .stat-value {
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0;
  }
  .stat-item {
    color: #a8a8a8;
    font-size: 15px;
    font-weight: 500;
  }
}
.red{
  color: red;
}
.green{
  color:green;
}
